<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>Cal's Library</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Cal's Library</h1>
            </div>

            <h2>{{ book.getTitle }}</h2>

        {% if authors is not empty %}
            <p>Here are the authors for this book:</p>
            <ul>
                {% for author in authors %}
                    <li>{{ author.getFullName }}</li>
                    </br>
                {% endfor %}
            </ul>
        {% endif %}

            <form action="/books/{{ book.getId }}/edit">
                <button type="submit" class="btn btn-success">Edit This Book</button>
            </form>

            <form action="/books/{{ book.getId }}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-danger">Burn This Book</button>
            </form>

            <form action='/add_authors' method='post'>
                <input id="book_id" name="book_id" type="hidden" value="{{ book.getId }}">
                <label for="author_id">Select a author</label>
                <select id='author_id' name='author_id' type='text'>
                  {% for author in all_authors %}
                    <option value="{{ author.getId }}"> {{ author.getFullName }} </option>
                  {% endfor %}
                </select>
                <button type='submit'>Add Author</button>
            </form>

            <a href="/">Home</a>
        </div>
    </body>
</html>
